@tailwind base;
@tailwind components;
@tailwind utilities;


header {
  transition: background-color 0.3s;
}

nav a {
  padding: 10px 15px;
  text-decoration: none;
  font-weight: 600;
}

nav a:hover {
  color: #000;
}



